.logo a img{
    width: 150px;
}
.right-navigation a{
    padding: 20px;
    text-decoration: none;
    color: white;
}
.container-fluid{
    background-image: url('/IMAGES/background/hero.jpg');
    position: relative;
    height: 132vh;
}
.row-section2{
    margin-top: 17%;
}
.text-center{
    color: white;
    font-size: 10vh;
    margin-left: 20%;
}
.lead{
    margin-top: 5%;
    text-align: center;
    color: white;
    margin-left: 35%;
}
.col-md-9-mouse img{
    margin-left: -45%;
    margin-bottom: -30%;

}