 .logo a img{
    width: 150px;
}
.right-navigation a{
    padding: 20px;
    text-decoration: none;
    color: white;
}
.container-fluid{
    background-image: url('/IMAGES/background/hero.jpg');
    position: relative;
    height: 132vh;
}
.row-section2{
    margin-top: 17%;
}
.text-center{
    color: white;
    font-size: 8vh;
    /* margin-left: 20%; */
} 
 .lead{
    margin-top: 5%;
    text-align: center;
    color: white;
} 
.col-md-12-mouse img{
    margin-bottom: -30%;

}
.container-fluid-products .row-products{
    background-color: rgb(198, 191, 165);

}
.btn{
    background-color: rgb(102, 27, 14);
}